a {
  color: #fff !important;
}
.d-flex {
  width: 40rem;
  margin-right: auto !important;
}
.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #009879 !important;
}
.me-auto {
  margin-right: 0 !important;
}
.dropdown-item {
  color: #198754 !important;
}
.btn {
  margin: 0px 5px;
}

/* header,
main,
aside,
footer,
nav {
  margin: 0;
  padding: 5px;
} */
/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
.contenedor {
  display: flex;
  flex-grow: 1;
}
/* nav {
  max-width: 20vw;
} */
main {
  flex-grow: 1;
}
aside {
  max-width: 20vw;
}
footer {
  text-align: center;
}
